.TodoItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    width: 1000px;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    border: solid 1.5px #9e9e9e;
    max-width: 100%;
    overflow-wrap: break-word;
    flex-direction: column;
    min-height: 10px;
    flex-direction: column;
    margin-top: 24px;

    padding: 5px;
  }
  
  .TodoItem-p {
    margin: 24px 0 24px 24px;
    width: calc(100% - 120px);
    font-size: 18px;
    line-height: 24px;
    font-weight: 400;
    border-radius: 4px;
  }
  .TodoItem-p--complete {
    text-decoration: line-through;
  }
  
  .Icon {
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 48px;
    font-size: 24px;
    font-weight: bold;
    /* background-color: #CCC; */
  }
  
  .Icon-check {
    position: absolute;
    left: 12px;
  }

  .Icon-check:hover {
    color: #4caf50
  }

  .Icon-check--active {
    color: #4caf50;
  }
  
  .Icon-delete {
    position: absolute;
    top: 15px;
    right: 10px;

    transform: rotate(0);
    transition: .3s ease;
  }
  .Icon-delete:hover {
    transform: rotate(224deg);
  }
  
@media (max-width:768px ) {
  .TodoItem {
    background-color: #FAFAFA;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 5px 50px rgba(32, 35, 41, 0.15);
    width: 90%;
    border-radius: 20px;
    margin-right: auto;
    margin-left: auto;
    border: solid 1.5px #9e9e9e;
    flex-direction: column;
    overflow-wrap: break-word;
    min-height: 10px;

    padding: 5px;

  .Icon-delete {
    position: absolute;
    top: 15px;
    right: 10px;

    transform: rotate(0);
    transition: .3s ease;
  }

  }
}