.TodoCounter {
    font-size: 1.25vw;
    text-align: center;
    margin: 0;
    padding: 2.5vw;
    font-weight: normal; 
    color: black;
    cursor: default;
    text-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
  }

  .TodoCounter span {
    font-weight: bold;
  }

  @media (max-width:414px ) {
    .TodoCounter {
      font-size: 13px;
      text-align: center;
      margin: 0;
      padding: 18px;
      font-weight: normal; 
      color: black;
      cursor: default;
      text-shadow: 0px 5px 50px rgba(32, 35, 41, 0.25);
    }
  
    .TodoCounter span {
      font-weight: bold;
    }
  }